%ul.list-group
  - @chores.each do |chore|
    / this should be a button
    = link_to id: "chore-card-expand" do
      %li.list-group-item{:id => "#{chore.id}"}
        .row
          .col-3.chore-group-name
            %h5= chore.group.name
          .col-7.list-item-title
            = chore.title
          .col-2.list-item-triangle
            = image_tag "https://i.imgur.com/uLlPUfM.png", id: "carrot#{chore.id}"