/ New Chore | Manage Groups Button Section
.button-section
  .container
    .row
      .col-6
        .btn.btn-light.col-12
          = link_to "+ New Chore", new_chore_path, class: "btn"
      .col-6
        .btn.btn-light.col-12
          = link_to "Manage Groups", groups_path, class: "btn"
    / Group and Chore tabs and lists
.group-chore-list
  .container
    .tab-header
      .row
        .col-6#show_chores
          %h1= link_to "Chores", "#"
        .col-6#show_groups
          %h1= link_to "Groups", root_path
    .list-content
      .col-12.item-list#chore_list
        = render "chore_list"
      .col-12.item-list#group_list{:style => "display:none"}
        = render "group_list"