= form_for @chore do |f|
  - if @chore.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chore.errors.count, "error")} prohibited this chore from being saved:"
      %ul
        - @chore.errors.full_messages.each do |message|
          %li= message
  = f.label(:title, "Chore Title:")
  = f.text_field(:title)

  = f.label(:interval, "How many days per week must this chore be done? (1-7):")
  = f.text_field(:interval)
  .actions
    = f.submit 'Save'
