%h1 Listing chores
%h2= current_user.id

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @chores.each do |chore|
      %h5= chore.title
      %tr
        %td= link_to 'Show', chore
        %td= link_to 'Edit', edit_chore_path(chore)
        %td= link_to 'Destroy', chore, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Chore', new_chore_path
